h2 😒😒 Ändra vad fan du vill, i dont even care anymore 😒😒

form action="/fruits/#{@special_frukt["id"]}/update" method="post" 
    input type="text" name="name" value="#{@special_frukt["name"]}"
    input type="number" name="amount" value="#{@special_frukt["amount"]}"
    input type="submit" value="😈do the deed😈"